{% extends 'base/base.html' %} 
{% load static %} 
{% block title %} {{user.username}} Profile {% endblock %} 
{% block css %} 
<link rel="stylesheet" href="{% static '/custom_css/profile.css' %}">
{% endblock %}

{% block main %}

<section>
    <div class="container">
        <h4 class="text-center">
            user profile {{user}}
            <img  src="{{user.profile.image.url}}" alt="profile image" class="profile-image ">
        </h4>

        <div>
            <a href="{% url 'create_project' %} ">create new project</a>
        </div>
    </div>
</section>


{% endblock %}